.container {
  display: grid;
  grid-template-rows: 1fr 75vh 1fr;
  padding: 15px; }

.main {
  display: grid;
  grid-template-columns: 2fr 5fr; }

.section_main-text {
  background-color: green;
  font-size: large; }

.header {
  background-color: yellow;
  text-align: center;
  font-size: x-large;
  font-family: sans-serif;
  color: #38043a; }
